.intro-block {
  background: url(/assets/laptop.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-top: 220px;
  padding-bottom: 130px;
}

.btn {
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 13px;
  color: white;
  text-decoration: none;
}

.btn:hover {
  box-shadow: 7px 9px 10px 6px lightgrey;
}

.btn-primary {
  background-color: rgb(73, 73, 209);
}

.btn2 {
  width: 140px;
  height: auto;
  padding: 10px;
  border-radius: 13px;
  color: white;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

.btn2:hover {
  box-shadow: 7px 9px 10px 6px lightgrey;
}

.btn2-primary {
  background-color: rgb(73, 73, 209);
}

@media (max-width: 768px) {
  .intro-block {
    background: url(/assets/laptop.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-top: 190px;
    padding-bottom: 110px;
  }
}

@media (max-width: 568px) {
  .intro-block {
    background: url(/assets/laptop.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-top: 170px;
    padding-bottom: 90px;
  }
}

.container1 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
}

.container1 > h1 {
  font-size: 3.6em;
  font-weight: bold;
  padding: 1px;
}

.container1 > h2 {
  font-size: 2.2em;
  font-weight: bold;
  color: rgb(224, 215, 215) !important;
  line-height: 2px;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ".";
  text-align: center;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.img-rnd {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
